body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.5em;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: normal;
}

a {
    color: #11999E;
}


p {
    color: #40514E
    ;
}

hr {
    border: 8px;
    border-style: dotted none none;
    style: dotted;
    width: 5%;
    color: #EAF6F6
    ;
}

.top-container {
    background-color: #E4F9F5;
    margin-top: 0;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}    

.profile {
    width: 50%;
    margin: 100px auto 100px auto;
}

.skills {
    margin-top: 100px;
}

.contact-me {
    margin: 100px 0 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px 0;
}

.bottom-cloud {
   position: absolute;
   left: 300px;
   bottom:300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.perfil {
    width: 200px;
    height: 200px;
}

.skill-row {
    margin: 100px auto 100px auto;
    padding-bottom: 50px;
    width: 50%;
    text-align: left;
}

.code {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.hobbies {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.botoncito {
           background: #66BFBF;
           background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
           background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
           background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
           background-image: -o-linear-gradient(top, #66BFBF, #11999E);
           background-image: linear-gradient(to bottom, #66BFBF, #11999E);
           -webkit-border-radius: 20px;
           -moz-border-radius: 20px;
           border-radius: 20px;
           color: #FFFFFF;
           font-family: Open Sans;
           font-size: 40px;
           font-weight: 100;
           padding: 40px;
           text-decoration: none;
           display: inline-block;
           cursor: pointer;
           text-align: center;
}

.footer-link {
    margin: 0 20px 0 20px;
}

.copy {
    color: #EAF6F6;
    font-size: .8em;
    padding-top: 20px;
}

